* {
  padding: 0;
  list-style: none;
}

span {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #3D9EC5;
  font-weight: 400;
}

span {
  float: left;
  padding: 0 10px 0 10px;
}

body {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
	margin:0;
  width:100%;
  height:100vh;
  padding: 0;
  background: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #3D9EC5;
}

header{
	width: 100%;
	background: #ffffff;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #dddddd;
}



.hamburger{
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#3D9EC5;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#3D9EC5;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f1f1f1;
  position: absolute;
  text-align: center;
  font-size: 12px;
  opacity: .95;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
.menu li:hover {
  display: block;
  background: #ffffff;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #666;
}
.menu ul li a:hover {
  color: #666;
  text-decoration: none;
}
.menu a {
  text-decoration: none;
  color: #3D9EC5;
  font-size: 1.2em;
}
.menu a:hover {
  text-decoration: none;
  color: #666;
}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}

.white {
  border-color: #fff;
}


/*=Typography=*/

html {
  font-size: 16px;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
}

.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.main-heading {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-about a {
  text-decoration: underline;
}

.sec-services h2,
.sec-services p {
  font-weight: 400;
  text-align: center;
}

.sec-testimonials p {
  font-style: italic;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

/*=Base=*/

section {
  padding: 5em 0;
}


ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  transition: all .25s;
}

hr {
  margin-bottom: 3em;
  width: 7.5%;
  border-color: black;
}

/*=Layout=*/

.sec-folio .row {
  margin-bottom: 3em;
}

.sec-folio img {
  max-width: 100%;
  padding-top: 10px;
}

/*Header*/

.navbar-default {
  background: #fff;
}

.navbar .fa-external-link {
  vertical-align: top;
}



/*Main*/

.sec-main {
  position: relative;
  height: 560px;
  background: url(../img/lion-background.jpg) no-repeat center center;
  background-size: cover;
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #30c9e8;
}

.center-block {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Overlay*/

.container{
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/*Services*/

.sec-services {
  background: #f9f9f9;
}

.sec-services i {
  display: block;
  margin: auto;
  width: 45px;
}

.sec-services .fa-paint-brush {
  width: 64px;
}

.sec-services .fa-code {
  width: 68px
}

.sec-services h2 {
  margin: 1em 0;
}

/*Testimonials*/

.sec-testimonials {
  background: #f9f9f9;
}


/*Contact*/

.sec-contact .form-control:focus {
  border-color: $red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(173, 0, 0, .6);
}

.sec-contact .btn {
  padding: .5rem 1.75rem;
  background: #000;
  font-size: .95rem;
  color: skyblue;


}

@media screen and (max-width: 480px) {
  .main-heading {
    line-height: 90px;
    font-size: 25px;
    font-weight: 500;
    padding-top: 20px;
  }

  span {
    font-size: 1.1em;
    font-weight: 400;
  }

  .text-center {
    margin-top: 40px;
  }
}


/*Icons*/
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* LinkedIn */
.fa-linkedin {
    background: #55ACEE;
    color: white;
}

/*Gmail*/
.fa-google {
  background: red;
  color: white;
}

/*Github*/

.fa-github {
  background: black;
  color: white;
}
